<div class="sidebar">
    <h2>Chapters</h2>
    <ul>
      <li><strong>ch. 1 - Fundamentals of Cloud-Native Application Security</strong></li>
      <li class="sub-section"><a href="{{ '/ebook_chapters/chapter2/ch2-1.html' | relative_url }}">ch. 1 - Fundamentals of Cloud-Native Application Security</a></li>
      <li><strong>ch. 2 - Secure Code Development</strong></li>
      <li class="sub-section"><a href="{{ '/ebook_chapters/chapter2/ch2-1.html' | relative_url }}">ch. 2.1 - Best Practices for Secure Coding</a></li>
      <!-- Add more chapters and sub-sections as needed -->
      <!-- Add more chapters as needed -->
    </ul>
  </div>
  